{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Child list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dateofbirth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('child_show', { 'parentName':app.user.username, 'childName': entity.name }) }}">{{ entity.name }}</a></td>#}
                <td><a href="{{ path('child_show', { 'parentName':app.user.username, 'childName': child.name }) }}">{{ child.name }}</a></td>

                <td>{{ entity.name }}</td>
                <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    {#<li>#}
                        {#<a href="{{ path('child_show', { 'parentName':app.user.username, 'childName': entity.name }) }}">show</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('child_edit', { 'parentName':app.user.username, 'childName': entity.name }) }}">edit</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('child_new', { 'parentName':app.user.username, 'childName': entity.name }) }}">#}
                            {#Create a new entry#}
                        {#</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('child_show', { 'parentName':app.user.username, 'childName': child.name }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('child_edit', { 'parentName':app.user.username, 'childName': child.name }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('child_new', { 'parentName':app.user.username, 'childName': child.name }) }}">
                            Create a new entry
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('child_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {% endblock %}
